@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
/* $ variable 變數 */
$size: 16px;
$space: 4px;
$base-color: #56c4c5;
$light-color: #ff5d50;
$sub-color: #747474;
/* $ reset */
@import 'reset';

/* $ mixin 組合 */
@import 'mixin-rwd';

/* $ base 全站設定 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html body {
  font-size: $size;
  line-height: 1.5;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// 1-16    1.125-18     1.25-20     2-32     3-48
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

/* $ contents 元件 */
.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-sm {
  @include sm {
    flex-direction: column;
  }
}

.flex-jc-center {
  justify-content: center;
}

.flex-jc-bw {
  justify-content: space-between;
}

.flex-ai-center {
  align-items: center;
}

.p-lr-15 {
  padding-left: $space * 15;
  padding-right: $space * 15;
}

.text-align-center {
  text-align: center;
}

/* $ layout */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.p-lr-2 {
  padding-left: $space * 2;
  padding-right: $space * 2;
}

.de-m-lr-2 {
  margin-left: -$space * 2;
  margin-right: -$space * 2;
}

.item-3 {
  width: 33.33333%;
}

.item-4 {
  width: 25%;
}

.item-3,
.item-4 {
  @include sm {
    width: 100%;
  }
}

.top {
  position: fixed;
  z-index: 99;
  right: 15vw;
  bottom: 15vw;
}

// $header

footer {
  aside {
    background-color: #f5f5f5;
    padding: $space * 2;
    text-align: center;
  }
}
